body {

}

#myDiagramDiv {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#myCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    user-select: none;
    touch-action: none;
    letter-spacing: normal;
    word-spacing: normal;
    width: 642px;
    height: 700px;
    cursor: pointer;
}